---
version: "3.7"

services:
  app:
    build:
      context: .
      args:
        - BASE_IMAGE=${BASE_IMAGE_PHP74}

    volumes:
      - .:/var/www/:cached

    ports:
      - "8080:80"

    environment:
      TEST_ENV: test_env_val
