includes:
  - /root/.composer/vendor/phpstan/phpstan-strict-rules/rules.neon
  - /root/.composer/vendor/phpstan/phpstan-nette/extension.neon
  - /root/.composer/vendor/phpstan/phpstan-phpunit/extension.neon
  - /root/.composer/vendor/phpstan/phpstan-phpunit/rules.neon

parameters:
  level: 8
  tmpDir: %currentWorkingDirectory%/tmp
  checkMissingIterableValueType: false
  treatPhpDocTypesAsCertain: false
  ignoreErrors:
    -
      # https://github.com/phpstan/phpstan/issues/4121
      message: '#Strict comparison|ternary#'
      path: src/Http/Message.php
    -
      message: '#Parameter \#3 \$depth#'
      path: src/Http/Message.php
