includes:
  - neon_env_substitution.neon

slim:
  configurators:
    - SlimAPI\Tests\Functional\_fixtures\TestConfigurator
    - @SlimAPI\Tests\Functional\_fixtures\TestConfiguratorSecond

services:
  - SlimAPI\Tests\Functional\_fixtures\TestConfiguratorSecond
