slim:

routes:
    - [GET, /routes-test, SlimAPI\Tests\Functional\Routing\ConfiguratorTest::testSuccess]
    routeName: [POST, /routes-test-2, SlimAPI\Tests\Functional\Routing\ConfiguratorTest::testSuccess]

services:
    - SlimAPI\Tests\Functional\Routing\ConfiguratorTest
